

h1 {
  text-align: center;
  margin-top: 20px;
}

label {
  display: block;
  text-align: center;
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: bold;
}

select {
  display: block;
  margin: 0 auto;

}
